doctype html
html(lang='ja' ng-app='location_viewer')
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(language='javascript', type='text/javascript', src='/bower/angular/angular.min.js')
    script(language='javascript', type='text/javascript', src="/scripts/index.js")
    script(language='javascript', type='text/javascript', src="/scripts/ncmb.min.js")

  body(ng-controller='MainController')
    block content
